@charset "UTF-8";

:root{
    /*modo claro*/
    --bg-wt: #F7F7F7;
    --text-wt: #1E1E1E;
    --accent-wt: #5B6DFF;
    --card-wt: #FFFFFF;
    --border-wt: #E0E0E0;

    /*modo escuro*/
    --bg-bk: #1E1E2F;
    --text-bk: #F1F1F1;
    --accent-bk: #5B6DFF;
    --card-bk: #2A2A40;
    --border-bk: #3A3A5A;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

main{
    width: 100%;
    height: 100%;
    background-color: var(--bg-bk);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

section.login{
    width: 75%;
}

aside.content{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}



aside.img img {
    width: 500%;
    animation: img-slide 50s ease-in-out forwards;
}

@keyframes img-slide {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-200%);
    }
    60% {
        transform: translateX(-300%);
    }
    80%,
    100% {
        transform: translateX(-400%);
    }
}
