@charset "UTF-8";

:root{
    /*modo claro*/
    --bg-wt: #F7F7F7;
    --text-wt: #1E1E1E;
    --accent-wt: #5B6DFF;
    --card-wt: #FFFFFF;
    --border-wt: #E0E0E0;

    /*modo escuro*/
    --bg-bk: #1E1E2F;
    --text-bk: #F1F1F1;
    --accent-bk: #5B6DFF;
    --card-bk: #2A2A40;
    --border-bk: #3A3A5A;

    --port: rgb(228, 80, 26);
    --mat:  rgb(0, 119, 255);
    --cien: rgb(25, 151, 0);
    --hist: rgb(119, 0, 255);
    --geo:  rgb(163, 35, 12);
    --ing:  rgb(255, 187, 0);
    --reda: rgb(128, 0, 32);
}

*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    box-sizing: border-box;
    overflow-y: hidden;
}

body{
    background-color: #1E1E2F;
    color: #F1F1F1;
}

#global{
    display: flex;
    padding: 10px;
    background-color: #3A3A5A;
}

#global h1{
    margin: auto;
    text-align: center;
}

#global span{
    font-size: 40px;
}

main p{
    padding: 10px;
    text-align: center;
    
}

main aside.p{
    background-color: var(--card-bk);
   margin:  60px 60px ;
   border-radius: 10px;
   height: 65px;
   box-shadow: 0px 0px 20px 5px rgb(228, 80, 26);
}

main aside.p > p{
    transform: translateY(12px);
}

main aside.m{
    background-color: var(--card-bk);
   margin:  60px 60px ;
   border-radius: 10px;
   height: 65px;
   box-shadow: 0px 0px 20px 5px rgb(0, 119, 255);
}

main aside.m > p{
    transform: translateY(12px);
}


main aside.c{
    background-color: var(--card-bk);
   margin:  60px 60px ;
   border-radius: 10px;
   height: 65px;
   box-shadow: 0px 0px 20px 5px rgb(25, 151, 0);
}

main aside.c > p{
    transform: translateY(12px);
}


main aside.h{
    background-color: var(--card-bk);
   margin:  60px 60px ;
   border-radius: 10px;
   height: 65px;
   box-shadow: 0px 0px 20px 5px rgb(119, 0, 255);
}

main aside.h > p{
    transform: translateY(12px);
}


main aside.g{
    background-color: var(--card-bk);
    margin:  60px 60px ;
    border-radius: 10px;
    height: 65px;
   box-shadow: 0px 0px 20px 5px rgb(172, 58, 38);
}

main aside.g > p{
    transform: translateY(12px);
}


main aside.i{
    background-color: var(--card-bk);
   margin:  60px 60px ;
   border-radius: 10px;
   height: 65px;
   box-shadow: 0px 0px 20px 5px rgb(255, 187, 0);
}

main aside.i > p{
    transform: translateY(12px);
}


main aside.r{
    background-color: var(--card-bk);
   margin:  60px 60px ;
   border-radius: 10px;
   height: 65px;
   box-shadow: 0px 0px 20px 5px rgb(134, 1, 34);
}

main aside.r > p{
    transform: translateY(12px);
}